#container{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#prolist_main_con{
    flex-direction: column;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prolist_main_box{
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.prolist_main_text{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
.prolist_main_listbox{
    margin-top:150px;
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.prolist_main_list{
    border:2px solid #e2e2e2;
    margin:25px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.prolist_list_img{
    width: 400px;
    height: 300px;
}
.prolist_list_img a{
    width:100%;
    height: 100%;
}
.prolist_list_img a img{
    width: 100%;
    height: 100%;
}



.prolist_list_textbox{
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
    flex-direction: column;

}
.prolist_list_name{

    width:400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prolist_list_price{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prolist_list_name a{
    width:400px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.prolist_main_searchbox{
    margin-top: 50px;
    width:1400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prolist_main_searchbox input{
    width:350px;
    height: 50px;
    border:3px solid #e2e2e2;
    border-radius: 5px;
    padding-left:10px;
}
.prolist_main_searchbox button{
    width:50px;
    height:50px;
    background-color: #4285F4;
    margin-left:30px;
    color:white;
    font-size: 16px;
    font-weight: bold;
}

.btnbox{
    width:600px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btnbox a{
    font-size: 16px;
    margin:15px;
    width:20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}