<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToyShop</title>
    <link th:href="@{/css/reset2.css}" rel="stylesheet"/>
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>
<div id="container">
    <header id="index_hed_con">
        <div class="index_hed_box">
            <div class="index_hed_log_box">
                    <a href="/login">로그인</a>
                    <a href="#">회원가입</a>
            </div>
            <div class="index_hed_menu_box">
                <div class="index_hed_menu"><a href="#">Menu</a></div>
                <div class="index_hed_menu"><a href="#">Menu</a></div>
                <div class="index_hed_menu"><a href="#">Menu</a></div>
                <div class="index_hed_menu"><a href="#">Menu</a></div>
                <div class="index_hed_menu"><a href="#">Menu</a></div>
            </div>
        </div>

    </header>
    <main id="index_main_con">
        <div class="index_main_box">
            <div class="index_main_con1"><a href="#">이미지1</a></div>
            <div class="index_main_con2"><a href="#">이미지2</a></div>
            <div class="index_main_con3"><a href="#">이미지3</a></div>
            <div class="index_main_con4"><a href="#">이미지4</a></div>
        </div>

        <div class="index_best_box">
            <div class="index_best_con">


            </div>

        </div>
    </main>
    <footer id="index-foo_con"></footer>
</div>

</body>
</html>