<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToyShop</title>
    <link th:href="@{/css/reset2.css}" rel="stylesheet"/>
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/css/js/login.js}"></script>
</head>
<body>
<div id="container">
    <header th:replace="header :: header"> </header>

    <main id="login_main_con">
        <form class="login_main_box" th:action="@{/members/login}" method="post">
            <label class="login_main_cont">
                <span>Email : </span>
                <input type="text" name="email" placeholder="Email 입력">
            </label>
            <label class="login_main_cont">
                <span>Password : </span>
                <input type="password" name="pwd" placeholder="비밀번호 입력">
            </label>

            <button type="submit" class="loginbtn">
                로그인
            </button>
            <a href="/members" class="membertag">
                회원가입
            </a>


        </form>
    </main>
    <footer id="index-foo_con"></footer>
</div>

</body>
</html>