<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToyShop</title>
    <link th:href="@{/css/reset2.css}" rel="stylesheet"/>
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>
    <link th:href="@{/css/productdetail.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/css/js/productdetail.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const opt =/*[[${findProduct.option}]]*/"";
        /*]]>*/
    </script>
</head>
<body>
<div id="container">
    <header th:replace="header :: header"></header>
    <main id="detail_main_con">
        <div class="detail_main_box">
            <div class="detail_text_box">
                <div class="detail_text_left_box">
                    <img th:src="|/projectimg/${findProduct.getImg[0].getImgname}|">

                </div>
                <div class="detail_text_right_box" th:if="${findProduct}!=null">
                    <label class="text_tag_label">
                        <span class="text_tag" th:text="|상품명 : ${findProduct.getProName()}|"></span>
                    </label>
                    <label class="text_tag_label">
                        <span class="text_tag" th:text="|가격 : ${findProduct.getProPrice()}|"></span>
                    </label>
                    <label class="text_tag_label">
                        <span class="text_tag " th:text="|제품 등록일 : ${findProduct.getProDate()}|"></span>
                    </label>
                    <label class="text_tag_label">
                        <select class="opt1" name="opt1" th:if="${findProduct['option'][0].getOpt1}!=null">
                            <option th:value="${option1}" th:each="option1:${findProduct['option1']}" th:text="${option1}"></option>
                        </select>
                    </label>
                    <label class="text_tag_label">
                        <select class="opt2" name="optid" th:if="${findProduct['option'][0].getOpt1}==null">
                            <option th:value="${opt2.optid}" th:each="opt2:${findProduct['option']}" th:text="${opt2.opt2}"></option>
                        </select>
                    </label>
                    <label class="text_tag_label">
                        <select class="opt2" name="optid" th:if="${findProduct['option'][0].getOpt1}!=null">
                        </select>
                    </label>

                    <div class="buyer_box">
                        <label class="input_label">
                            <span>수량</span>
                            <input type="number" th:value="|1|" class="quantity" name="ord_quantity">
                            <input type="hidden" class="proId" th:value="${findProduct.getProId()}">
                        </label>
                        <button type="button" id="buybtn">구매하기</button>
                        <button type="button" id="cartbtn">장바구니</button>
                        <button type="button" id="favoritebtn">
                            <span class="material-symbols-outlined favo">favorite</span>
                        </button>
                        <button type="button" id="firebtn">
                            <img th:src="@{/projectimg/siren.png}">
                            </span>
                        </button>
                    </div>

                </div>

            </div>
            <div class="main_content_box">
                <div class="main_content_text">
                    <span>상세 정보</span>
                    <img th:src="|/projectimg/${img.imgname}|" th:if="${img.imgtype}=='ProductTextImg'" th:each="img:${findProduct['img']}">
                </div>

            </div>
        </div>


        <form class="detail_modal_con" th:action="@{/products/return}" th:method="post">
            <span class="detail_modal_text"> 신고 페이지</span>
            <input type="hidden" name="rep_chk" th:value="|신고|">
            <input type="hidden" name="proId" th:value="${findProduct.getProId()}">
            <div class="radio_box">
                <span class="radio_box_text">신고 사유 선택</span>
                <label>
                    <input type="radio" name="rep_select" value="허위 상품 판매">
                    <span>허위 상품 판매</span>
                </label>
                <label>
                    <input type="radio" name="rep_select" value="불량 상품 판매">
                    <span>불량 상품 판매</span>
                </label>
                <label>
                    <input type="radio" name="rep_select" value="상품 정보 도용">
                    <span>상품 정보 도용</span>
                </label>
            </div>
            <label class="text_label">
                <span>상세 사유 작성</span>
            <textarea name="rep_text" placeholder="상세하게 신고 사유를 작성해주세요"></textarea>
            </label>
            <button type="submit">신고하기</button>
        </form>

        <div class="cart_modal_con">
            <span class="modal_text">주소 입력</span>
            <div class="cart_modal_box">
                <label class="modal_con1">
                    <span>받으시는 분</span>
                    <input type="text" class="ord_huname" placeholder="받는분 성함">
                </label>
                <label class="modal_con2">
                    <span>받는분 주소</span>
                    <input readonly type="text"  placeholder="우편 검색 자동입력" class="ord_address addr1">
                    <button type="button" id="addPost">우편 번호</button>
                </label>
                <label class="modal_con3">
                    <input type="text" placeholder="기타 주소" readonly class="ord_address addr2">
                    <input type="text" placeholder="상세주소 입력" class="ord_address addr3">
                </label>
                <button type="button" id="address_addbtn">주문 완료</button>
            </div>
        </div>
    </main>
    <footer id="index-foo_con"></footer>
</div>

</body>
</html>