<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToyShop</title>
    <link th:href="@{/css/reset2.css}" rel="stylesheet"/>
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>
    <link th:href="@{/css/productlist.css}" rel="stylesheet"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/css/js/login.js}"></script>
</head>
<body>
<div id="container">
    <header th:replace="header :: header"></header>
    <main id="prolist_main_con">
        <div class="prolist_main_box">

            <form class="prolist_main_searchbox" action="/products/list/search" th:method="GET">
                <input type="search" name="search" placeholder="검색할 제품">
                <button type="submit">검색</button>
            </form>
            <div class="prolist_main_listbox">
                <div class="prolist_main_list" th:if="${pagingProducts}!=null" th:each="product :${pagingProducts['pagingList']}">
                    <div class="prolist_list_textbox">
                        <div class="prolist_list_name">
                            <a th:href="|/products/${product.proId}|" th:text="|제품명 : ${product.proName}|">제품명</a>
                        </div>
                        <div class="prolist_list_price" th:text="|가격 : ${product.proPrice}원|">가격</div>
                    </div>
                    <div class="prolist_list_img">
                        <a th:href="|/products/${product.proId}|">
                            <img th:src="|/projectimg/${img.imgname}|" th:each="img :${product['img']}" th:if="${img.proId}==${product.proId}">
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="btnbox">

            <th:block th:each="page : ${#numbers.sequence(pagingProducts['startPage'], pagingProducts['endPage'])}" th:if="${pagingProducts!=null}">
                <a th:if="${page != pagingProducts['nowPage']} and ${page}!=0" th:href="@{/products/list(page = ${page - 1})}" th:text="${page}"></a>
                <strong th:if="${page == pagingProducts['nowPage']}" th:text="${page}"></strong>
            </th:block>

        </div>
    </main>
    <footer id="index-foo_con"></footer>
</div>

</body>
</html>