<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToyShop</title>
    <link th:href="@{/css/reset2.css}" rel="stylesheet"/>
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/seller.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/css/js/login.js}"></script>
</head>
<body>
<div id="container">
    <aside id="seller_aside_con">
        <span class="seller_aside_text">판매자 관리페이지</span>
        <ul>
            <li>
                <a href="/">메인</a>
            </li>
            <li>
                <a href="/products/list">제품리스트</a>
            </li>
        </ul>
    </aside>
    <main id="seller_main_con">
        <div class="seller_main_box">
            <form class="seller_main_search_box" th:action="|/products/list/seller/${session.id}|" th:method="GET">
                <div class="search_label">
                    <input type="search" name="search" placeholder="검색">
                </div>
                <button type="submit" id="search_btn"><span class="material-symbols-outlined">
search
</span>
                </button>
                <select name="tag" class="search_select">
                    <option>태그등록1</option>
                    <option>태그등록2</option>
                    <option>태그등록3</option>
                </select>
            </form>
            <div class="seller_select_box">
                <select name="abcd" class="search_select2">
                    <option>태그등록1</option>
                    <option>태그등록2</option>
                    <option>태그등록3</option>
                </select>
            </div>

            <div class="seller_main_content">
                <div class="seller_main_content_box" th:each="product :${pagingProducts['pagingList']}" th:if="${product}!=null">
                    <div class="content-top">
                        <div class="main_content_img">
                            <img th:src="|/projectimg/${img.imgname}|" th:each="img :${product['img']}" th:if="${img.proId}==${product.proId}">
                        </div>
                        <div class="main_content_product">
                            <span th:text="|상품명 : ${product.proName}|">제품명</span>
                            <span th:text="|제품가격 : ${#numbers.formatInteger(product.proPrice, 3, 'COMMA') + '원'}|">제품가격</span>
                            <span th:text="|등록일 : ${product.proDate}|">제품 등록일</span>
                            <span th:text="|제품카테고리 : ${product.proCategory}|">제품 카테고리</span>
                            <button th:value="${product.proId}">제품 삭제</button>
                        </div>

                    </div>
                    <div class="main_content_option" th:each="opt :${product['option']}" th:if="${opt.proId}==${product.proId}">
                        <span th:text="|옵션 정보 ( 대분류 :${opt.opt1} , 중분류:${opt.opt2} , 남은 재고:${opt.opquantity}개 )|" th:if="${opt.opt1}!=null">옵션 1, 2 , 수량</span>
                        <span th:text="|옵션 정보 ( 대분류:${opt.opt2} , 남은 재고:${opt.opquantity}개 )|" th:if="${opt.opt1}==null">옵션  2 , 수량</span>
                    </div>
                </div>

            </div>
        </div>


        <div class="btnbox">
            <th:block th:each="page : ${#numbers.sequence(pagingProducts['startPage'], pagingProducts['endPage'])}">
                <a th:if="${page != pagingProducts['nowPage'] && page!=0}  " th:href="|@{/products/list/}${session.id}/${session.email}?page=${page-1}|" th:text="${page}"></a>
                <strong th:if="${page == pagingProducts['nowPage']}" th:text="${page}" style="color : red;font-weight:bold;font-size: 18px"></strong>
            </th:block>
        </div>

    </main>
</div>

</body>
</html>